doctype html
html(ng-app='bridge-telecom' ng-cloak ng-class="{'scroll': toggle}")
  head
    base(href='/')
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title ООО Бридж Телеком
    link(rel='stylesheet'  href='/css/main.css')
    script(src='https://www.google.com/recaptcha/api.js')
    script(src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full")
  body(ng-class="{'noscroll': toggle}")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/please-wait/0.0.5/please-wait.min.js")
    script.
      var loading_screen = pleaseWait({
        logo: "images/logo.png",
        backgroundColor: '#033767'
      });
      document.addEventListener('DOMContentLoaded', function() {
        loading_screen.finish();
      });
    block content
    style.
      .pg-loading-logo {
        width: 200px;
      }
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/flickity/1.2.1/flickity.pkgd.min.js')
    script(type='text/javascript' src='script.js')      
