section.corporate
  .container
    .corporate__info
      .row
        .col-sm-9.col-lg-9
          h2 Корпоративным лицам
          p.lead Компания&nbsp;
            b БриджТелеком&nbsp;
            | предлагает комплексное решение проблем бизнеса клиентов и предоставляет полный пакет телекоммуникационных услуг на основе технологии беспроводного широкополосного доступа в Интернет:
          ul
            li ИНТЕРНЕТ
              ul
                li Высокоскоростной безлимитный доступ в интернет даже в самых удаленных населенных пунктах области
            li VPN
              ul
                li Объединение филиалов компании, офиса, производства и склада в единую защищенную от несанкционированного доступа сеть
            li ТЕЛЕФОНИЯ
              ul
                li Местная, междугородняя и международная корпоративная связь, объединяющая офисы, филиалы и прочие объекты компании
            li СЕРВИСЫ
              ul
                li Вы также можете воспользоваться нашими специальными услугами, такими как видеонаблюдение, организация точек Wi-Fi, построение структурированных кабельных сетей
          h3 ИНТЕРНЕТ:
          p.lead Высокоскоростной безлимитный доступ в интернет даже в самых удаленных населенных пунктах области. Стабильная скорость позволяет мгновенно загружать web-страницы, быстро скачивать файлы, использовать такие современные технологии, как видеоконференц-связь.
          p.lead Подключившись к БриджТелеком Вы получите:
          ul
            li Высокоскоростной стабильный доступ в Интернет в офисе и филиалах на скорости до 90 Мбит/с
            li Оперативное подключение объекта (всего за 2 дня!)
            li Индивидуальный подход к разработке тарифных планов в максимально короткие сроки, что позволит выбрать для Вашей компании наиболее эффективное решение проблемы
            li Возможность сохранения привычных услуг при смене места расположения офиса
          h3 VPN:
          p.lead Объединение филиалов компании, офиса, производства и склада в единую защищенную от несанкционированного доступа сеть.
          p.lead Подключившись к БриджТелеком Вы получите:
          ul
            li Единую корпоративную сеть предприятия, защищенную от несанкционированного доступа
            li Мгновенный доступ к ресурсам и рабочим приложениям всей организации для филиалов и дополнительных офисов
            li Повышение эффективности работы филиалов, сокращение затрат между ними
          h3 ТЕЛЕФОНИЯ:
          p.lead Местная, междугородняя и международная корпоративная связь, объединяющая офисы, филиалы и прочие объекты компании.
          p.lead Подключившись к БриджТелеком Вы получите:
          ul
            li Организацию общей корпоративной телефонной сети предприятия в короткие сроки
            li Организацию общей корпоративной телефонной сети предприятия в короткие сроки
            li Высокое качество связи и быстрое установление соединения
          p.lead Мы предоставляем полный пакет услуг по телефонизации предприятий:
          ul
            li офисной
            li местной
            li междугородней
            li международной связи по выгодным ценам
          h3 СЕРВИСЫ:
          p.lead Вы также можете воспользоваться нашими специальными услугами, такими как видеонаблюдение, организация точек WI-FI, построение структурированных кабельных сетей.
          p.lead Подключившись к БриджТелеком Вы получите:
          ul
            li ВИДЕОНАБЛЮДЕНИЕ:
              ul
                li Возможность удаленного мониторинга офисов, филиалов, складов и прочих помещений, вблизи которых отсутствуют проводные коммуникации. Архивирование записей.
            li WI-FI:
              ul
                li Организация точек мгновенного беспроводного доступа в интернет в конференц-залах, переговорных комнатах и других помещениях, что позволит быстро проверить почту и просмотреть нужные рабочие файлы прямо на совещаниях и планерках.
            li СКС:
              ul
                li Построение структурированных кабельных сетей для объединения рабочих мест сотрудников, серверов в единую сеть передачи данных.
      .row
        .col-sm-4.col-sm-offset-4
          a.btn.btn--yellow.btn--yellow--lg(href="/request") Подать заявку