section.post
  .container
    h2 Новость
    .articles
      .articles__body
        .articles__img
          img.img-responsive(ng-src="{{::post.cover}}", alt="")
        .articles__content
          h3 {{::post.title}}
          p {{::post.createdAt | date:'dd.MM.yyyy'}}
          p.lead {{::post.intro }}
          p.lead {{::post.content }}