section.rates
  .container
    .row
      .col-sm-9
        ul.breadcrumbs
          li
            a(ui-sref="individual") Частным лицам
          li
            a(ui-sref="rates") Тарифы
        h2 Тарифы
        .table-responsive
          table.table.table-bordered
            thead
              tr
                th Наименование тарифа
                th Скорость Мбит/сек.
                th Ежемесячная абонентская плата, руб./мес.
            tbody.table-hover
              tr
                td Старт W
                td 3
                td 2899
              tr
                td Действуй W
                td 4
                td 3099
              tr
                td Летай W
                td 5
                td 3899
        ul
          li Тарифы указаны с учетом всех налогов.
          li Схема оплаты услуг — авансовая (предоплата).
          li В стоимость инсталляции входят расходы на установку абонентской станции. При необходимости проведения дополнительных работ, связанных с монтажом оборудования (установка мачт, верхолазные работы), подключение и настройка дополнительных рабочих мест, дополнительные расходы оплачивает Заказчик.
          li Указанная в тарифном плане скорость является максимально возможной и означает, что скорость доступа к сети Интернет зависит не только от технических особенностей услуги, предоставляемой ООО «Бридж Телеком», но и от действий третьих операторов связи, организаций и лиц, управляющих сегментами сети Интернет, не принадлежащих ООО «Бридж Телеком». Скорость доступа к сети Интернет является величиной неопределенной и зависит от ряда параметров, в том числе, технических характеристик подключения данных точек, маршрута и текущей загрузки каналов. Все параметры являются переменными и не гарантируются ООО «БриджТелеком» за пределами своей сети.
          li Оборудование, необходимое для подключения, предоставляется во временное использование на срок действия договора бесплатно.
          li Существует возможность покупки оборудования абонентом, цены предоставляются менеджером Бридж Телеком по запросу.
          li В параметрах тарифного плана указывается максимальная ширина канала в килобитах в секунду (Кбит/c), а в программах-загрузчиках указывается скорость загрузки файлов в килобайтах/с (Кбайт/c или КБ/с). В одном байте содержится 8 бит.