section.service
  .container
    .row
      .col-sm-9
        h2 Абоненту
        v-accordion.vAccordion--default(multiple)
          v-pane
            v-pane-header
              p Подключение по радио значит, что не будет никаких проводов?
            v-pane-content
              p Это значит, что для стандартного подключения к Вашему зданию не нужно подводить кабель – ни телефонный, ни выделенный оптический – никакой! Вместо кабеля Вам на крышу будет установлена антенна, которая улавливает направленный радиосигнал от базовой станции. В помещении у Вас, конечно, будет обычный провод от компьютера до сетевой розетки.    
          v-pane
            v-pane-header
              p На что похожа эта ваша антенна?
            v-pane-content
              p В составе услуги Клиенту устанавливается оборудование беспроводного широкополосного доступа (абонентский комплект беспроводного доступа с антенной и блоком питания).
              p Антенна – это не громоздкая тарелка и не клубок проводов, а небольшой модуль размером с пачку офисной бумаги, который крепится на стене или крыше Вашего здания.
          v-pane
            v-pane-header
              p Какова скорость подключения к сети Интернет? 
            v-pane-content
              p Скорость подключения к сети Интернет зависит от выбранного тарифного плана. 
          v-pane
            v-pane-header
              p Как погода влияет на скорость и качество подключения?        
            v-pane-content
              p Погода на скорость и качество подключения не влияет. Все оборудование рассчитано на использование в наших климатических условиях. Ни тучи, ни дождь, ни туман, ни снег не помешают Вашей работе в сети Интернет или телефонному разговору.
          v-pane
            v-pane-header
              p Мне придется приобрести специальное оборудование?  
            v-pane-content
              p Оборудование бесплатно предоставляется в пользование Клиенту на весь срок действия договора, а так же Вам нет необходимости беспокоиться о его рабочем состоянии. Если оборудование вышло из строя – специалисты Бридж Телекома оперативно заменят его на рабочий комплект.
          v-pane
            v-pane-header
              p А возможно ли объединить несколько локальных сетей, минуя Интернет?
            v-pane-content
              p Это возможно, называется «подключение точка-точка». Мы предложим Вам специальный выгодный тариф, защищенную и устойчивую связь между Вашими офисами по VPN каналу. Вы сможете использовать общие ресурсы сети. При этом дорогостоящие каналы подключения к Интернет не загружены внутренним трафиком. Например, Вы можете таким образом объединить центральный офис и удаленный склад или сеть магазинов.