.about
{
  .about__img
  {
    position: relative;

    overflow: hidden;

    height: 0;
    padding-bottom: 70%;
  }
  h2
  {
    margin: 40px 0 14px;
  }
  h3
  {
    margin: 44px 0 20px;
  }
  p.lead
  {
    margin: 0 0 22px;
  }
}
@media (max-width: 767px)
{
  .about__img
  {
    margin: -60px -10px 0;
  }
}
