.section
{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  &.section--main
  {
    position: relative;
    top: -220px;

    display: table;

    height: 100vh;

    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);

    background: #033767 url(../images/bg.jpg) no-repeat center top fixed;
    -moz-background-size: cover;
      -o-background-size: cover;
         background-size: cover;
    .section__caption
    {
      display: table-cell;

      width: 100%;
      height: 100%;
      padding: 200px 0;

      text-align: center;
      vertical-align: middle;

      color: #fff;
      text-shadow: 1px 1px 1.2px rgba(0, 0, 0, .27);
      h1
      {
        margin: 0 0 20px;
      }
      p.lead
      {
        margin: 0 0 37px;
      }
      .btn
      {
        text-shadow: none;
      }
    }
  }
  &.section--content
  {
    margin: -220px 0 0;
    padding: 50px 0 157px;
  }
}
.articles
{
  padding: 0 0 150px;
  .articles__heading
  {
    h3
    {
      margin: 0 0 33px;

      text-align: center;
    }
  }
  .articles__body
  {
    margin: 0 0 20px;
    .articles__img
    {
      img
      {
        margin: 0 auto;
      }
    }
    .articles__content
    {
      height: 205px;
      margin: 30px 0 0;
      h3
      {
        font: 700 22px/22px 'Open Sans', sans-serif;

        margin: 0 0 5px;

        color: #333;
        &:hover
        {
          color: #23527c;
        }
      }
      p.lead
      {
        margin: 0;
      }
      p
      {
        margin: 0 0 20px;
      }
    }
  }
}
.widgets
{
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  a
  {
    display: block;
    .widget
    {
      position: relative;

      display: inline-block;
      overflow: hidden;

      width: 100%;
      height: 280px;

      @include border-radius(5px);
      &.individual
      {
        background: url(../images/widget/photo1.jpg) no-repeat center center;
        -moz-background-size: cover;
          -o-background-size: cover;
             background-size: cover;
      }
      &.corporate
      {
        background: url(../images/widget/photo2.jpg) no-repeat center center;
        -moz-background-size: cover;
          -o-background-size: cover;
             background-size: cover;
      }
      &:before
      {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        content: '';

        background: rgba(0,51,102,.4);

        @include border-radius(5px);
        @include transition(all .3s linear);
      }
      &:after
      {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        height: 80px;

        content: '';

        background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, .4));
        background:    -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, .4));
        background:      -o-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, .4));
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, .4)));
        background:         linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, .4));
      }
      &:hover:before
      {
        background: rgba(0,51,102,.8);
      }
      &:hover .widget__text
      {
        top: 35%;
        text-decoration: underline;
        text-underline-position: under;

        @include transition(all .3s linear);
      }
      .widget__text
      {
        position: absolute;
        width: 100%;
        z-index: 2;
        top: 220px;

        text-align: center;

        color: #fff;
        text-shadow: 1px 1px 1.2px rgba(0, 0, 0, .27);

        @include transition(all .3s linear);
      }
    }
  }
}
.review
{
  .review__title
  {
    margin: 72px 0 65px;

    text-align: center;
  }
  .review__logo
  {
    overflow: hidden;

    width: 140px;
    height: 140px;

    @include border-radius(50%);
  }
  .review__text
  {
    p
    {
      margin: 2px 0 0;
    }
    p.desc
    {
      margin: -3px 0 0;
    }
  }
  .row:last-child
  {
    margin: 53px 0 0;
  }
}
.honor
{
  .honor__title
  {
    h3
    {
      margin: 80px 0 30px;

      text-align: center;;
    }
  }
  .row:last-child
  {
    margin: 90px 0 0;
  }
  .slider
  {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    &__slide
    {
      width: 20%;
      margin: 0 10px;
      img
      {
        -webkit-user-drag: none;
        -khtml-user-drag: none;
           -moz-user-drag: none;
             -o-user-drag: none;
                user-drag: none;
      }
    }
  }
}
@media (max-width: 991px)
{
  .section
  {
    &.section--main
    {
      top: -220px;
    }
  }
  .honor
  {
    .row:last-child
    {
      margin: 60px 0 0;
    }
    .slider__slide
    {
      width: 33.33333333333333%;
    }
  }
  .widget
  {
    &.individual
    {
      margin: 0 0 16px;
    }
  }
  .review
  {
    .review__title
    {
      margin: 24px 0 0;
    }
    .review__logo
    {
      margin: 10px auto 20px;
    }
    .row:last-child
    {
      margin: 0;
    }
  }
}
@media (max-width: 767px) and (orientation: landscape)
{
  .section
  {
    &.section--main
    {
      .section__caption
      {
        h1
        {
          margin-bottom: 5px !important;
        }
        p.lead
        {
          margin-bottom: 5px !important;
        }
      }
    }
    &.section--content
    {
      padding: 60px 0;
    }
  }
}
@media (max-width: 767px)
{
  .section
  {
    &.section--main
    {
      top: -70px;

      background-image: url(../images/bg-mobile.jpg);
      .section__caption
      {
        padding: 70px 0;
        h1
        {
          margin-bottom: 15px;
        }
        p.lead
        {
          margin-bottom: 29px;
        }
      }
    }
    &.section--content
    {
      margin: -70px 0 0 !important;
      padding: 33px 0 100px;
    }
  }
  .articles
  {
    padding: 0 0 80px;
    .articles__heading
    {
      h3
      {
        margin: 0 0 14px;
      }
    }
    .articles__content
    {
      h3
      {
        font: 700 20px/20px 'Open Sans', sans-serif !important;
      }
    }
  }
  .widget
  {
    .widget__text
    {
      left: 0;
    }
    &:hover .widget__text
    {
      top: 0;

      @include transition(all .3s linear);
    }
  }
  .review
  {
    .review__text
    {
      margin: 0 0 40px;
    }
  }
  .honor
  {
    .honor__title
    {
      h3
      {
        margin: 0 0 30px;
      }
    }
  }
}
@media (max-width: 480px)
{
  .widget
  {
    height: 200px !important;
    &:hover .widget__text
    {
      top: 31px !important;
    }
    .widget__text
    {
      top: 140px !important;
    }
  }
}
