.individual
{
  .individual__info
  {
    ul
    {
      font: 400 16px/22px 'Open Sans', sans-serif;

      margin: 0 0 30px;
      li
      {
        margin: 0 0 0 40px;
      }
    }
    p.lead
    {
      margin: 0;
    }
  }
  .individual__steps
  {
    margin: 0 0 37px;
    h3
    {
      margin: 48px 0;
    }
    p.lead
    {
      text-align: center;
    }
    img
    {
      height: 148px;
      margin: 0 auto 30px;
    }
    .col-sm-4
    {
      &:after
      {
        position: absolute;
        top: 30%;
        left: 75%;

        width: 50px;
        height: 23px;
        margin: -23px 0 0 50px;

        content: '';

        background: url(../images/individual/arrow-right.png);
      }
      &:last-child
      {
        &:after
        {
          width: 0;
          height: 0;

          content: '';

          background: none;
        }
      }
    }
  }
  .individual__change
  {
    margin: 96px 0 0;
    h3,
    p.lead
    {
      margin: 0 0 20px;
    }
  }
}
@media (max-width: 767px)
{
  .individual
  {
    .individual__steps
    {
      .col-sm-4
      {
        margin: 0 0 90px;
        &:after
        {
          position: absolute;
          top: 110%;
          left: 50%;

          width: 23px;
          height: 50px;
          margin: 0 0 0 -13px;

          content: '';

          background: url(../images/individual/arrow-down.png);
        }
        &:last-child
        {
          margin: 0;
          &:after
          {
            width: 0;
            height: 0;

            content: '';

            background: none;
          }
        }
      }
    }
  }
}
