.rates
{
  ul
  {
    font: 400 16px/22px 'Open Sans', sans-serif;

    margin: 0 0 0 40px;
    li
    {
      margin: 0 0 20px;
    }
  }
}

.table{
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;

  tr>th, tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 1px solid #ddd;    
  }
}