.vacancies
{
  h3
  {
    margin: 60px 0 20px;
  }
  h4
  {
    font: 700 16px/22px 'Open Sans', sans-serif;
  }
  p
  {
    margin: 0;
  }
  ul
  {
    font: 400 16px/22px 'Open Sans', sans-serif;

    margin: 0 0 20px 40px;
    li
    {
      margin: 0 0 10px;
    }
  }
}
