*
{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body
{
  width: 100%;
  height: 100%;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
html
{
  overflow-y: scroll;
  ::-webkit-selection
  {
    color: rgba(0, 0, 0, .87);
    background-color: #cce2ff;
  }
  ::-moz-selection
  {
    color: rgba(0, 0, 0, .87);
    background-color: #cce2ff;
  }
  ::selection
  {
    color: rgba(0, 0, 0, .87);
    background-color: #cce2ff;
  }
}
body
{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

  color: #333;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
     -moz-font-smoothing: subpixel-antialiased;
      -ms-font-smoothing: subpixel-antialiased;
       -o-font-smoothing: subpixel-antialiased;
  &.noscroll
  {
    overflow-y: hidden;
  }
}
section
{
  padding: 60px 0 200px;
  h2
  {
    margin: -4px 0 30px;
  }
}
a
{
  &,
  &:hover,
  &:active,
  &:focus
  {
    text-decoration: none !important;

    outline: none !important;
  }
}
a:-webkit-any-link
{
  text-decoration: none;
}
.wrapper
{
  min-height: 100%;
}
.img-responsive
{
  display: block;

  max-width: 100%;
  height: auto;
}
.text-center
{
  text-align: center;
}
.breadcrumbs
{
  font-family: 'Open Sans';

  margin: -28px 0 5px !important;

  list-style: none;

  color: #999;
  &:before,
  &:after
  {
    display: table;

    content: '';
  }
  &:after
  {
    clear: both;
  }
  li
  {
    float: left;

    margin: 0 !important;
    padding: 0 !important;
    &:after
    {
      content: ' /\00a0';
    }
    &:last-child
    {
      &:after
      {
        content: '';
      }
    }
    a
    {
      font-size: 14px;

      color: #999;
      &:hover,
      &:active
      {
        color: #23527c;
      }
    }
  }
}

label
{
  font-weight: 700;

  display: inline-block;

  max-width: 100%;
  margin-bottom: 5px;
}
.checkbox,
.radio
{
  position: relative;

  display: block;
  /* margin-top: 10px;*/

  margin-bottom: 10px;
  & label
  {
    font-weight: 400;

    min-height: 20px;
    margin-bottom: 0;
    padding-left: 20px;

    cursor: pointer;
  }
}
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio]
{
  position: absolute;
  left: 20px;

  margin-left: -20px;
}
input[type=checkbox],
input[type=radio]
{
  line-height: normal;

  margin: 4px 0 0;
}
.form-group
{
  margin-bottom: 15px;
  .form-control
  {
    font-size: 14px;
    line-height: 1.42857143;

    display: block;

    width: 100%;
    height: 34px;
    padding: 6px 12px;

    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
       -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-moz-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s,-moz-box-shadow ease-in-out .15s;

    color: #555;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
}
textarea
{
  font-family: 'Open Sans', sans-serif;

  width: 100%;

  resize: none;
  &.form-control
  {
    height: auto !important;
  }
}
@media (min-width: 768px)
{
  html
  {
    &.scroll
    {
      overflow-y: hidden;
    }
  }
  body
  {
    &.noscroll
    {
      overflow-y: scroll;
    }
  }
}
@media (min-width: 1200px)
{
  .container
  {
    width: 940px;
  }
}
