.header
{
  position: relative;
  z-index: 1000;

  height: 220px;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  background: url(../images/bg.jpg) no-repeat center top;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
  &.nobg
  {
    background: none;
  }
  .header__main
  {
    .header__logo
    {
      padding: 27px 0 0;
    }
    .header__login
    {
      padding: 60px 0 0;

      text-align: center;
    }
    .header__phone
    {
      padding: 64px 0 0;

      text-align: right;
      a
      {
        font-size: 22px;

        color: #fff;
      }
    }
  }
  .header__nav
  {
    width: 100%;
    margin: 0;
    padding: 20px 0 0;
    ul
    {
      text-align: center;
      li
      {
        display: inline-block;

        margin: 0 15px 0 0;

        list-style: none;
        &:last-child
        {
          margin-right: 0;
        }
      }
    }
  }
  .header__collapse__nav
  {
    position: absolute;
    top: 0;
    left: -81.25%;

    display: none;
    float: left;

    width: 81.25%;
    height: 100vh;

    background: #fff;

    @include transition(all .35s ease-out);
    &.collapsing
    {
      left: 0;

      @include transition(all .35s ease-out);
    }
    ul
    {
      li
      {
        margin: 0 0 20px;

        list-style: none;
        a
        {
          font: 700 22px/26px 'Open Sans', sans-serif;

          color: $indigo;
          &:hover
          {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .header__collapse__btn
  {
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 18.25%;
    margin: 8px 0 0 8px;

    @include transition(all .35s ease-out);
    &.collapsing
    {
      left: 81.25%;

      height: 100vh;
      margin: 8px 0 0;

      @include transition(all .35s ease-out);
      a
      {
        width: 100%;
        height: 100vh;
      }
    }
    i
    {
      font-size: 36px;
    }
  }
}

@media (max-width: 767px)
{
  .header
  {
    height: 70px;

    background-image: url(../images/bg-mobile.jpg);
    .header__main
    {
      padding: 0 !important;
      .header__logo
      {
        width: 100%;
        padding: 0;

        text-align: center;
        img
        {
          height: 50px;
          margin: 10px 0;
        }
      }
      .header__login,
      .header__phone
      {
        display: none !important;
      }
    }
    .header__nav
    {
      display: none;
    }
    .header__collapse__btn
    {
      display: block;
    }
    .header__collapse__nav
    {
      display: block;
      ul
      {
        margin: 15px 0 0;
      }
    }
  }
}
@media (max-width: 568px) and (orientation: landscape)
{
  .header__collapse__nav
  {
    ul
    {
      margin: 0 !important;
    }
  }
}
